body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(173,58,125,1) 24%, rgba(94,128,185,1) 50%, rgba(190,42,112,1) 75%, rgba(5,0,56,1) 100%);
    color: white;
}

main {
    width: 30%; /* Ajuste a largura conforme necessário */
    height: 80vh; /* Ajuste a altura conforme necessário */
}

.custom-container {
    border: 3px solid #000000; 
    padding: 20px; 
    border-radius: 20px; 
    background: rgba(0, 0, 0, 0.8);
}

.larger-text, .form-label, .invalid-feedback {
    color: white; 
}

